{
    "plugins": ["prettier-plugin-tailwindcss"],
    "endOfLine": "crlf",
    "htmlWhitespaceSensitivity": "css",
    "jsxSingleQuote": true,
    "semi": true,
    "singleQuote": true,
    "tabWidth": 4,
    "trailingComma": "none",
    "printWidth": 999999999
}
